**/__pycache__/**
**/logs/**
**/resource/**
resources/result1/war_154_2.jpg
resources/result1/war_158_1.jpg
resources/result1/war_158_2.jpg
resources/result1/war_162_2.jpg
resources/result1/war_163_1.jpg
resources/result1/war_163_2.jpg
resources/result1/war_165_1.jpg
resources/result1/war_168_2.jpg
resources/result1/war_170_0.jpg
resources/result1/war_170_1.jpg
resources/result1/war_170_2.jpg
resources/result1/war_171_0.jpg
resources/result1/war_171_1.jpg
resources/result1/war_172_0.jpg
resources/result1/war_173_1.jpg
resources/result1/war_174_2.jpg
resources/result1/war_176_1.jpg
resources/result1/war_177_1.jpg
resources/result1/war_178_0.jpg
resources/result1/war_178_1.jpg
resources/result1/war_178_2.jpg
resources/result1/war_183_0.jpg
resources/result1/war_185_2.jpg
resources/result1/war_187_1.jpg
resources/result1/war_198_0.jpg
nohup.out
