**/__pycache__/**
**/logs/**
**/resource/**
resources/result1/war_154_2.jpg
resources/result1/war_158_1.jpg
resources/result1/war_158_2.jpg
resources/result1/war_162_2.jpg
resources/result1/war_163_1.jpg
resources/result1/war_163_2.jpg
resources/result1/war_165_1.jpg
resources/result1/war_168_2.jpg
resources/result1/war_170_0.jpg
resources/result1/war_170_1.jpg
resources/result1/war_170_2.jpg
resources/result1/war_171_0.jpg
resources/result1/war_171_1.jpg
resources/result1/war_172_0.jpg
resources/result1/war_173_1.jpg
resources/result1/war_174_2.jpg
resources/result1/war_176_1.jpg
resources/result1/war_177_1.jpg
resources/result1/war_178_0.jpg
resources/result1/war_178_1.jpg
resources/result1/war_178_2.jpg
resources/result1/war_183_0.jpg
resources/result1/war_185_2.jpg
resources/result1/war_187_1.jpg
resources/result1/war_198_0.jpg
nohup.out
CAMEL/data.pkl
CAMEL/model/clip-vit-base-pacth16.rar
CAMEL/model/model_T_4.pth
CAMEL/model/ViT-B-32.pt
CAMEL/model/bert-base-cased/config.json
CAMEL/model/bert-base-cased/pytorch_model.bin
CAMEL/model/bert-base-cased/tokenizer.json
CAMEL/model/bert-base-cased/vocab.txt
CAMEL/model/clip-vit-base-pacth16/config.json
CAMEL/model/clip-vit-base-pacth16/flax_model.msgpack
CAMEL/model/clip-vit-base-pacth16/gitattributes
CAMEL/model/clip-vit-base-pacth16/merges.txt
CAMEL/model/clip-vit-base-pacth16/preprocessor_config.json
CAMEL/model/clip-vit-base-pacth16/pytorch_model.bin
CAMEL/model/clip-vit-base-pacth16/README.md
CAMEL/model/clip-vit-base-pacth16/special_tokens_map.json
CAMEL/model/clip-vit-base-pacth16/tokenizer_config.json
CAMEL/model/clip-vit-base-pacth16/tokenizer.json
CAMEL/model/clip-vit-base-pacth16/vocab.json
